{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "jsSingleQuote": true,
  "tsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "printWidth": 80
}
